.upload-form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-heading {
    text-align: center;
    color: #333;
  }
  
  .upload-form {
    display: flex;
    flex-direction: column;
  }
  
  .upload-form label {
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .upload-form input {
    margin-bottom: 1rem;
  }
  
  .upload-form button {
    align-self: flex-start;
  }

.star {
    font-size: 6vh;
    cursor: pointer;
}
    
.one {
    color: rgb(255, 0, 0);
}
    
.two {
    color: rgb(255, 106, 0);
}
    
.three {
    color: rgb(251, 255, 120);
}
    
.four {
    color: rgb(255, 255, 0);
}
    
.five {
    color: rgb(24, 159, 14);
}
    